---
layout: header
title: initials
permalink: /weeks/pset2/initials/
---
 <div class="toc2 toc-left">
            <div id="header">
                <div class="toc2" id="toc">
                    <div id="toctitle">Список Контента</div>
                    <ul class="sectlevel1">
<li><a href="#tl-dr">Коротко</a></li>
<li><a href="#specification">Описание</a></li>
<li><a href="#walkthrough">Прохождение</a></li>
<li><a href="#usage">Использование</a></li>
<li><a href="#testing">Проверка</a>
<ul class="sectlevel2">
<li><a href="#code-check50-code"><code>check50</code></a></li>
</ul>
</li>

<li><a href="#changelog">Изменения</a></li>
</ul>
                </div>
            </div>
            <div id="content">
                <h1>Initials (Инициалы)</h1>
<div class="sect1">
<h2 id="tl-dr"><a class="link" href="#tl-dr">Коротко</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Создайте программу, которая при вводе полного имени будет выводить на экран инициалы.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>$ ./initials
Regulus Arcturus Black
RAB</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="specification"><a class="link" href="#specification">Описание</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Разработайте и реализуйте программу <code>initials</code>, которая выведет на экран инициалы человека, получив его фамилию и имя.</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Начните писать вашу программу в файле <code>initials.c</code>, который будет находиться в папке <code>initials</code>.</p>
</li>
<li>
<p>Она должна просить пользователя ввести его полное имя (фамилия и имя на латинском) используя <code>get_string</code>, чтобы получить данные в виде <code>string</code> (строки).</p>
</li>
<li>
<p>Представляйте, что пользователь при вводе своего имени и фамилии будет использовать только буквы (заглавные и/или строчные) и пробел между словами. Вам не нужно имплементировать (создавать) программу таким образом, чтобы она могла работать с именем <code>Joseph Gordon-Levitt</code>, <code>Conan O&#8217;Brien</code> или <code>David J. Malan</code>!</p>
</li>
<li>
<p>Ваша программа должна выводить на экран инициалы (т.е. первую букву имени и фамилии) без пробелов или точек, завершаясь новой строкой (<code>\n</code>).</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="walkthrough"><a class="link" href="#walkthrough">Прохождение</a></h2>
<div class="sectionbody">
<div class="videoblock">
<div class="content">
<div class="row">
    <div class="col-md-12"><iframe width="100%" height="550" src="https://www.youtube.com/embed/WuqRup1NOtE?rel=0" frameborder="0" allowfullscreen></iframe></div>
</div>

</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="usage"><a class="link" href="#usage">Использование</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ваша программа должна проделывать тоже самое, что показано в примере ниже. Предположим, подчеркнутый текст - это то, что написал пользователь.</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>$ <span class="underline">./initials</span>
<span class="underline">Zamyla Chan</span>
ZC</code></pre>
</div>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>$ <span class="underline">./initials</span>
<span class="underline">robert thomas bowden</span>
RTB</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="testing"><a class="link" href="#testing">Проверка</a></h2>
<div class="sectionbody">
<div class="sect2">
<h3 id="code-check50-code"><a class="link" href="#code-check50-code"><code>check50</code></a></h3>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>check50 cs50/2017/x/initials/less</code></pre>
</div>
</div>
<div class="paragraph">
<p>Вас потребуют ввести логин (<b>GitHub username</b>) и пароль (<b>GitHub password</b>) от вашей учетной записи на Github'е, которую вы можете завести, пройдя по данной ссылке <a href="https://github.com/join">https://github.com/join</a>.</p>
</div>
<div class="paragraph">
<p>Зайдите на сайт <a href="https://cs50.me" target="_blank">cs50.me</a>, используя всё ту же учетную запись GitHub'а и нажмите на зеленую кнопку <b>authorize submit50</b> (Это действие производится только один раз).</p>
</div>
</div>
</div>
</div>

<div class="sect1">
<h2 id="changelog"><a class="link" href="#changelog">Изменения</a></h2>
<div class="sectionbody">
<div class="ulist">
<ul>
<li>
<p>08-02-2017</p>
<div class="ulist">
<ul>
<li>
<p>Задание опубликовано.</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
            </div>
        </div>

