body {
    position: relative;
    overflow-x: hidden;
        -webkit-font-smoothing: antialiased !important;
        font-size: 15px !important;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;

width: 96%;
height: 100%;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.block_color{
    background: #2e2e2e !important;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #3C3F41;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
/*    margin-right: -220px;*/
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav1 {
    position: absolute;
    bottom: 13px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav1 > a:hover{
    text-decoration: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #2D2E30;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
	font-weight: 500;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}




/*-------------------------------*/
/*            My addings         */
/*-------------------------------*/
#harvard_extension
{
	display: none;
	color: white;
	font-family: inherit;
	font-size: 14px;
	line-height: 1.1;

    border-bottom: 1px solid #5f5f5f;
    border-top: 1px solid #5f5f5f;

    margin: 0;
    font-weight:  bold;
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.2);
}

.new a {
    text-decoration: none;
}


.pokemon{
	border-radius: 50%;
    border: solid 2px transparent;
    border-left-color: #e4baba;
    border-right-color: #e4baba;
    border-top-color: #f00;
    border-bottom-color: red;
    background-image: linear-gradient(#676767, #444), linear-gradient(90deg, #71e273 20%, #71e273 50% , #71e273 50%, #71e273 100%);
}

@font-face {
	
	text-rendering: optimizeLegibility;
}


.locked_lesson{
	background: #7c243a;
}

.locked_lesson:hover{
	background:#6f2034 !important;
}

.locked_link{
	color:#fff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
background-color: rgba(238, 238, 238, 0) !important;
}

.week_header{
    padding-bottom: 19px;
    border-bottom: 1px solid #e5e5e5;
    color: #A4AFB2;
}

.week_stuff{
    list-style: none;
    line-height: 45px;
    font-weight: 500;
    font-size: 24px;
    color: #617277;
}

.week_stuff > li > a{
    color: #617277;
    display: inline-block;
}

.week_stuff > li{
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.week_stuff > li:last-child{
    border-bottom: none;
}

.week_stuff > li:hover{
    background: #eee;
}

blockquote {
    font-family: 'Open Sans', sans-serif;
}

/*    534548*/


.announcement_block{
    
    padding: 3rem 2rem;
    text-align: center;
    color: white;
    background: #7c243a;
    margin-bottom: 20px;
    border-bottom: 1.5rem solid rgba(0,0,0,0.1);
}
.announcement_block a{
    color: inherit;
    text-decoration: underline
}
.announcement_block a:hover{
    color: inherit;
}

.announcement_block>p{
    color: rgba(255, 255, 255, 0.78);
    font-size: 16px;
}
.announcement_block>h1{
    font-size: 32px;
}


blockquote{
    margin-top: 18px !important;
    font-family: 'Roboto Slab', serif;
    background: #f8f8f8;
}

.week_shorts_header{
    text-align: center;
    color: #ba3925;
    border-bottom: none;
    padding-top: 20px;
    line-height: 12px;
}


.video_header {
	background: #383838;
	color: #fff;
	line-height: 1.1em;
}

.video_row{
    padding: 0 20px 0 20px;
}
.notes_sect{
    border-bottom: 3px double #ebebeb;
}






.our-team{
    border-left: 8px solid #3b336a;
    border-bottom: 8px solid #3b336a;
}
.our-team .team-image{
    position: relative;
    text-align: center;
}
#cat_programmer{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
}

.our-team img{
    width: 100%;
    height: auto;
}
.our-team .description{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding: 40px 50px;
    opacity: 0;
    background-color: rgba(59, 51, 106, 0.6);
    transition: all 0.5s ease 0s;
}
.our-team:hover .description{
    opacity: 1;
}
.our-team .social{
    padding: 10px 0 0 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 40px;
    left: -27px;
    background: #3b336a;
    text-align: center;
    transform: translate(25px, 0px) rotateY(90deg);
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{
    transform: translate(0px, 0px) rotateY(0deg);
}
.our-team .social li{
    display: block;
    margin-bottom: 10px;
}
.our-team .social li a{
    display: block;
    width: 40px;
    height: 35px;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
    background: #bc3fbf;
}
.our-team .team-info{
    padding: 20px;
}
.our-team .title{
    font-size: 18px;
    color: #3b336a;
    letter-spacing: 4px;
    margin: 0 0 15px 0;
    transition: all 0.5s ease 0s;
}
.our-team .post{
    display: block;
    font-size: 14px;
    color: #3b336a;
    text-transform: capitalize;
}
.our-team .title:hover,
.our-team .post:hover{
    color: #bc3fbf;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .our-team .social{ left: -20px; }
}
@media only screen and (max-width: 480px){
    .our-team .social{ left: -20px; }
}





.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
    
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
/*
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}



/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
/*	margin: 0 5px;*/
    margin-left: 40px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
/*	top: 50%;*/
    top:0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: -18px;
	line-height: 3.6rem;
	position: absolute;
	top: -17px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

.closing_button{
    color:white; 
    position: absolute; 
    margin: 0 32%; 
/*     bottom: 10%;  */
	bottom: 71px;
    min-width: 62px;
    text-decoration: none;
    font-weight: 600;
}
.closing_button:hover, .closing_button:focus{
	text-decoration: none;
	color: #fff;
}

.card {
    background: #fff;
    margin-bottom: 2rem;
    
}
.card.card-lg{
    padding: 1rem 1rem 4rem 1rem;
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    color: #555f77;
}
.text-xxs-center{
    text-align: center;
}
.text-xxxl{
    font-size: 36px;
    line-height: 1.25;
    font-weight: 300;
}
.m-b {
margin-bottom: 2rem;
}
.text-sm{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 16px;
}






.feed{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.home-page{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 0 0rem;
}

.cover{
    
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    flex: 1 1 15rem;
    text-align: center;
    justify-content: center;
    background-color: currentColor;
}
.cover>h1{
    font-size: 3.3rem;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
.cover>p{
        color: rgba(255,255,255,0.8);
    margin-top: .618rem;
    font-size: 1.75rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}
.cover>p>a{
    color: rgba(255,255,255,0.8);
    text-decoration: underline;
    
}
.post{
    margin: 0 1rem 1rem 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1.2rem solid rgba(0,0,0,0.1);
    background: #A41034;
}

.main-video{
    display: flex;
    flex: 1 1 100%;
}

.main-center{
    margin: 0 1rem -1rem 0;
    
}


i.fa {
    color: #d2d2d2;
    
}

i.fa:hover {
    color: #fff;
}
.fa-instagram:before { content: '\e987'; }


.alert > li {list-style: none;}

input.form-control {
    margin-bottom: 20px;
}

i.fa.fa-lock, i.fa.fa-unlock {
	margin-right: 6px;
	
}

#new_user_button{
	width: 100%;
/*     bottom: 14%; */
	bottom: 105px;
    margin: 0;
    text-align: center;
}

.fa-star {

      color:#313131;
      -webkit-animation:colorchange 10s infinite alternate;
      margin-right: 6px;
      
    }

    @-webkit-keyframes colorchange {
      0% {
        
        color: #FFC107;
      }
      
      10% {
        
        color: #FFEB3B;
      }
      
      20% {
        
        color: #ffe927;
      }
      
      30% {
        
        color: #ffe925;
      }
      
      40% {
        
        color: #FFEE58;
      }
      
      50% {
        
        color: #FFEB3B;
      }
      
      60% {
        
        color: #FDD835;
      }
      
      70% {
        
        color: #FFEB3B;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #ecdd51;
      }
      
      100% {
        
        color: #ffea2d;
      }
    }


.fa-star-o {
	margin-right: 6px;
}


.new {
    position: absolute;
    bottom: 71px;
    text-align: center;
    min-width: 61px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin: 0;
    width: 100%;
    min-width: 200px;
}

.new > a {
    color: #fff;
    display: block;
    margin-bottom: 13px;
}

.new a:hover,
.new a:focus {
	text-decoration: none;
    color: #fff;
}

.new > a:last-child {
    margin-bottom: 0;
}


.pokemon {
  
        border-radius: 50%;
    border: solid 2px transparent;
    border-left-color: #e4baba;
    border-right-color: #e4baba;
    border-top-color: #f00;
    border-bottom-color: red;
    background-image: linear-gradient(#676767, #444), linear-gradient(90deg, #71e273 20%, #71e273 50% , #71e273 50%, #71e273 100%);
  
}

.pokemon_green {
    border-radius: 50%;
    border: solid 2px transparent;
    border-left-color: #ecf9ec;
    border-right-color: #ecf9ec;
    border-top-color: #71e273;
    border-bottom-color: #71e273;
    background-image: linear-gradient(#676767, #444), linear-gradient(90deg, #71e273 20%, #71e273 50% , #71e273 50%, #71e273 100%);
}
/*-------------------------------*/
/*        END My addings         */
/*-------------------------------*/


/*--------LOADING PAGE -------*/
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader-64x/Preloader_3.gif) center no-repeat #fff;
}
/*--------LOADING PAGE END-------*/




@media screen and (min-width: 992px){
    .hamburger{
        display: none !important;
    }
    .container{
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 1200px){
    .container{
        margin-left: 1% !important;
    }
}


@media screen and (min-width: 1300px){
    .container{
        margin-left: 6% !important;
    }
}

@media screen and (min-width: 1670px){
    .container{
        margin-left: 16% !important;
    }
}

@media screen and (max-width: 340px){
	.post {
		margin: 0 0rem 1rem 0;
	}
	.main-center {
		margin: 0 0rem -1rem 0;
	}
}

@media screen and (max-width: 400px){
	#page-content-wrapper > div > div > div > div > div > iframe {
		height: 100%;
	}
}