---
page: dumb
title: apply
permalink: /apply/
---
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/apply.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <title>Запись на курс CS50</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 v4-tease">ЗАПИСЬ НА СЕНТЯБРЬ | ЖЕНСКАЯ ГРУППА</div>
        </div>
        <div class="row">
            <img style="padding: 20px" class="center-block" src="{{ site.url }}/assets/img/1.png" alt="harvard">
            <div class="col-xs-12">
                <div class="text-center top-centered-text">
                    <h5><b>ДОБРО ПОЖАЛОВАТЬ НА КУРС CS50</b></h5>
                    <div class="infot">
                        <h1 style="font-size: 3.14em;">Мы научим вас <span class="element text-primary"></span></h1>
                    </div>
                    <p class="lead" style="padding: 15px">Мы введем вас в мир компьютерных наук. <br> Вооружим
                        прекрасными знаниями и раскроем ваш потенциал. <br>Курс рассчитан как на новичков, так и на тех,
                        кто уже имеет небольшой опыт в программировании. <br> Добро пожаловать на вводный курс Computer
                        Science I (CS50).

                        <p>
                            <div class="row">
                                <div
                                    class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active"
                                            role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 10%"><span class="sr-only">100% Complete</span> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-top: 30px">
                                <div class="ui-group-buttons">
                                    <a href="https://forms.gle/HbjkQSPzcNku8s7h8" class="btn btn-success"
                                        role="button"><span class="glyphicon glyphicon-ok"></span> Записаться</a>
                                    <div class="or"></div>
                                    <a tabindex="0" target="_blank" class="btn btn-default" role="button"
                                        data-toggle="popover" data-trigger="focus" data-placement="top"
                                        href="https://www.instagram.com/makecsx"><span
                                            class="glyphicon glyphicon-remove"></span> Подумать</a>
                                </div>
                            </div>



                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">makecs50.ru </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="{{ site.url }}/assets/js/myScript.js"></script>

    <script src="{{ site.url }}/assets/js/typed.js"></script>
    <script>
        $(function () {
            $(".element").typed({
                strings: ["компьютерному мышлению.", "программировать.", "ценить время."],
                typeSpeed: 0
            });
        });
        $("[data-toggle=popover]").popover();
    </script>
</body>

</html>