---
layout: header
title: pset0
permalink: /weeks/pset0/
---

<div class="toc2 toc-left">

                          <div id="header">
            <div class="toc2" id="toc">
                <div id="toctitle">Список Контента</div>
                <ul class="sectlevel1">
<li><a href="#tl-dr">Коротко</a></li>
<li><a href="#itching-to-program">Не терпится начать?</a></li>
<li><a href="#how-to-submit">Отправить решение</a></li>
</ul>
            </div>
        </div>
        <div id="content">
            <h1>Набор проблем O:</h1>
<div class="sect1">
<h2 id="tl-dr"><a class="link" href="#tl-dr">Коротко</a></h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic" start="0">
<li>
<p>Посетите 0 лекцию.</p>
</li>
<li>
<p>Попрограммируйте в Scratch.</p>
</li>
<li>
<p>Заполните карточку студента.</p>
</li>
<li>
<p>Отправьте решение.</p>
</li>


</ol>
</div>
</div>
</div>

<div class="sect1">
<h2 id="itching-to-program"><a class="link" href="#itching-to-program">Не терпится начать?</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Перейдите по ссылке <a href="https://scratch.mit.edu/" class="bare">https://scratch.mit.edu/</a> и зарегистрируйте аккаунт на сайте MIT, нажав на кнопку <strong>Присоединяйся</strong>, располагающуюся в верхней части экрана. Подойдёт любое имя (если не занято), постарайтесь запомнить его и выбранный вами пароль.</p>
</div>
<div class="paragraph">
<p>Далее попробуйте игру <em>Танчики</em>, которую создал наш студент Нур-Магомед (СК-15). Нажмите на зелёный флаг и можете приступать. Не забудьте использовать стрелки и WASD для передвижения спрайтов. Поваляйте немного дурака.</p>
</div>
<iframe allowtransparency="true" width="485" height="402" src="https://scratch.mit.edu/projects/embed/130601864/?autostart=false" frameborder="0" allowfullscreen="true"></iframe>
<div class="paragraph">
<p>Если интересно,  исходный код проекта Нур-Магомеда можно посмотреть по ссылке <a href="http://scratch.mit.edu/projects/130601864/" class="bare">http://scratch.mit.edu/projects/130601864/</a>. (Там же, перейдя по ссылке, вы можете использовать полноэкранный режим.)</p>
</div>
<div class="paragraph">
<p>Далее попробуйте проверить ваши знания по распределению мусора с помощью игры <em>Oscartime</em>, написанной другим автором, Джорданом Хаяши!</p>
</div>
<iframe allowtransparency="true" width="485" height="402" src="https://scratch.mit.edu/projects/embed/71161586/?autostart=false" frameborder="0" allowfullscreen="true"></iframe>
<div class="paragraph">
    <p>Код Джордана можно посмотреть тут <a href="https://scratch.mit.edu/projects/71161586/" class="bare">https://scratch.mit.edu/projects/71161586/</a>.</p>
</div>
<div class="paragraph">
<p> 
Не стоит переживать, если у вас нет опыта в программировании. Будьте уверены, что проекты Нур-Магомеда и Джордана гораздо сложнее того первого набора проблем (задач), которые мы приведем ниже. (Нажмите <strong>Посмотреть код</strong> в верхнем правом углу страницы Scratch'a, чтобы узнать, как были написаны оба проекта под "капотом"). Так вы сможете лучше ознакомиться с возможностями Scratch'а.</p>
</div>
<div class="paragraph">
    <p> Более того, для более плавного перехода к Scratch (и к программированию в общем), вы, возможно, захотите ознакомиться с примерами работ, разобранными нами на <strong><i>0 неделе</i></strong>, "исходный код" которых можно найти, перейдя по ссылке
 <a href="https://scratch.mit.edu/studios/3003963/" class="bare">https://scratch.mit.edu/studios/3003963/</a>. В тот момент, когда вы подумаете про себя, "Хорошо, я все догнал", считайте что вы готовы двигаться дальше.</p>
</div>
<div class="paragraph">
<p> Пришло время выбора своего собственного приключения! Ваша задача, которая, кстати, очень легка - повеселиться со Scratch'ем, и создать проект на свое усмотрение (будь это анимация, игра, интерактивное приложение или что-либо другое), единственное, мы просим вас обязательно реализовать следующие условия:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>В вашем проекте должно быть как минимум два спрайта (изображения), хотя бы один из них должен представлять что-либо другое, помимо кота (кошку тоже нельзя).</p>
</li>
<li>
<p>В вашем проекте должно быть как минимум 3 скрипта (не обязательно писать все три скрипта на один спрайт).</p>
</li>
<li>
<p>В вашем проекте должны быть как минимум одно условие, один цикл и одна переменная.</p>
</li>
<li>
<p>У вас должна быть хотя бы одна своя звуковая дорожка (например загрузите mp3 файл в Scratch и прикрепите его к спрайту).</p>
</li>
<li>
<p>Ваш проект должен быть немного сложнее тех, что были представлены на лекции (Многие из которых, хоть и полезны, очень коротки в своей реализации),  однако мы не требуем такого же уровня сложности проектов, как <em>Oscartime</em> или <em>Pokemon Go</em>. Таким образом, в общем мы ожидаем от вас примерно несколько десятков кусочков пазла.</p>
</li>
</ul>
</div>
<div class="paragraph">
<p>Можете посмотреть <a href="https://scratch.mit.edu/studios/1493562/"> некоторые прошлогодние проекты</a> для вдохновения, но ваш собственный проект не должен до ужаса совпадать с каким-либо из них. Попробуйте придумать какую-нибудь идею, а затем сядьте и начните реализовывать. Ни в коем случае не пытайтесь написать все сразу за раз: один шаг реализован, идём дальше. Нур-Магомед к примеру, скорее всего запрограммировал один танк, а уже потом перешел к другому спрайту. Другими словами, все делаем детскими шагами: напишите кусочек кода (т.е. соедините между собой кусочки пазла), проверьте работу, ещё немного покодируйте, проверьте и далее в этом же духе.</p>
</div>
<div class="paragraph">
<p> Если в процессе работы вы столкнетесь с чем-нибудь, что вам будет трудно внедрить, не изводите себя; измените свой дизайн или по-другому подумайте над проблемой. Если вы попробуете создать что-нибудь, что вам представляется веселым, для вас не будет составляет труда выполнить все наши условия.</p>
</div>
<div class="paragraph">
<p>Отлично, можете приступать. Сделайте так, чтобы я вами гордился:).</p>
</div>
<div class="paragraph">
<p>Если у вас плохое соединение с интернетом, можете скачать офлайн редактор Scratch <a href="https://scratch.mit.edu/scratch2download/" class="bare">https://scratch.mit.edu/scratch2download/</a>. Но когда вы закончите с проектом, не забудьте загрузить его в ваш аккаунт по ссылке <a href="http://scratch.mit.edu/" class="bare">http://scratch.mit.edu/</a>, выбрав в меню оффлайн редактора <strong>File &gt; Share to website</strong>.</p>
</div>
<div class="paragraph">
<p>Убедитесь, что вы дали название своему проекту. Потом нажмите на кнопку <strong>Share</strong> (на странице сайта в верхнем правом углу), чтобы другие смогли просмотреть ваш проект. Наконец-то запомните адрес страницы вашего проекта в интернете, позже он вам понадобится.
</p>
</div>
<div class="paragraph">
<p>Ах да, если вы хотите, чтобы ваш проект могли увидеть другие студенты, перейдите по ссылке <a href="https://scratch.mit.edu/studios/3697411/" class="bare">https://scratch.mit.edu/studios/3697411/</a>, затем нажмите <strong>Добавить проекты</strong> и вставьте ранее сохраненную ссылку.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="how-to-submit"><a class="link" href="#how-to-submit">Карточка студента</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Нам нужно чтобы вы заполнили кое-какую форму, это не отнимет у вас много времени <a href="https://goo.gl/forms/Wj2wywSpccaY9G4B3" class="bare">https://goo.gl/forms/Wj2wywSpccaY9G4B3</a>.</p>
</div>
<div class="paragraph">
</div>

</div>
</div>
       
<div class="sect1">
<h2 id="how-to-submit"><a class="link" href="#how-to-submit">Отправить решение</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Просим своевременно выполнять и отправлять решения. </p>
	<p>
	 <b>Девушки</b> отправляют проект по этой ссылке <a href="https://goo.gl/forms/FF3fRrkR4JFFVrHk2" class="bare">https://goo.gl/forms/FF3fRrkR4JFFVrHk2</a>. 
<br>
	 <b>Мальчики</b> отправляют проект по этой ссылке <a href="https://goo.gl/forms/g4dGwTEAr0epTqpB3" class="bare">https://goo.gl/forms/g4dGwTEAr0epTqpB3</a>. 

</p>

</div>
<div class="paragraph">
</div>
<div class="paragraph">
    <p>Это был <strong>набор проблем 0</strong> недели.</p>
</div>
</div>
</div>
        </div>
                           
                            </div>
                            <script>
                                setTimeout(() => {
                            document.querySelector('.se-pre-con').style.display = 'none';

                                }, 2500)
                            </script>
