---
layout: header
title: pset4
permalink: /weeks/pset4
---

    <div class="toc2 toc-left">
        <div id="header">
            <div class="toc2" id="toc">
                <div id="toctitle">Список Контента</div>
                <ul class="sectlevel1">
<li><a href="#tl-dr">Коротко</a></li>
<li><a href="#help">Помощь</a></li>
<li><a href="#getting-started">С чего начать</a></li>
<li><a href="#what-to-do">Требования</a></li>
<li><a href="#how-to-submit">Как отправить решение</a>
</li>
</ul>
            </div>
        </div>
        <div id="content">
            <h1>Набор Проблем 4: Экспертиза</h1>
<div class="sect1">
<h2 id="tl-dr"><a class="link" href="#tl-dr">Коротко</a></h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic" start="0">
<li>
<p>Посетите лекцию 4 недели.</p>
</li>
<li>
<p>Зайдите на <a target="_blank" href="https://www.youtube.com/watch?v=agdXnmEadCM&index=5&list=PLawfWYMUziZqyUL5QDLVbe3j5BKWj42E5">YouTube</a> и просмотрите 9 и 10 видеозаписи (все эти записи есть в плейлисте).</p>
</li>
<li><p>Попробуйте выяснить кто стоит за коварным преступлением (whodunit).</p>
</li>
<li>
<p>Измените размеры кое-каких изображений.</p>
</li>
<li>
<p>Восстановите потерянные фотографии.</p>
</li>
<li>
<p>Отправьте ваш код.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect1">
<h2 id="help"><a class="link" href="#help">Помощь</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Если вам нужна помощь с Набором Проблем 4 недели:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Просмотрите видеозаписи с объяснениями Замайлы, которые есть в каждом задании.</p>
</li>
<li>
<p>Задавайте вопросы (при этом оповещайте студентов о создании новой темы в разделе "Обсуждение", при помощи whatsapp группы "Курсы cs50") и ищите ответы здесь <a href="http://makecs50.ru/discuss">CS50 Обсуждение</a>.</p>
</li>
</ul>
</div>
</div>
</div>

<div class="sect1">
<h2 id="getting-started"><a class="link" href="#getting-started">С чего начать</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ок, опять погнали!</p>
</div>
<div class="paragraph">
<p>Зайдите на сайт <a href="https://cs50.io/">cs50.io</a> и наберите в окне терминала команду</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>update50</code></pre>
</div>
</div>
<div class="paragraph">
<p>для того, чтобы ваше рабочее пространство подкачало все необходимые обновления.</p>
</div>
<div class="paragraph">
<p>Далее в окне терминала выполните</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>mkdir ~/workspace/pset4/</code></pre>
</div>
</div>
<div class="paragraph">
<p>для того, чтобы создать папку <code>pset4</code> в вашей директории <code>workspace</code>.</p>
</div>
<div class="paragraph">
<p>Теперь выполните</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>cd ~/workspace/pset4/</code></pre>
</div>
</div>
<div class="paragraph">
<p>В вашем терминале должна появиться следующая строка:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>~/workspace/pset4/ $</code></pre>
</div>
</div>
</div>
</div>
<div class="sect1">
<h2 id="what-to-do"><a class="link" href="#what-to-do">Требования</a></h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic">
<li>
<p>Реализовать <a href="{{ site.url }}/weeks/pset4/whodunit/">Whodunit</a></p>
</li>
<li>
<p>Реализовать <a href="{{ site.url }}/weeks/pset4/resize/">Resize</a></p>
</li>
<li>
<p>Реализовать <a href="{{ site.url }}/weeks/pset4/recover/">Recover</a></p>
</li>
</ol>
</div>
</div>
</div>

      <div class="sect1">
                                    <h2 id="how-to-submit"><a class="link" href="#how-to-submit">Как отправить решение</a></h2>
                                    <div class="sectionbody">
                                        <div class="sect2">
                                            <div class="olist arabic">
                                                <ol class="arabic">
                                                    <li> <p>Скачайте и заархивируйте все файлы в .zip или .rar файл. (для этого вам понадобится архиватор, например winrar).</p>
                                                    </li>
                                                    <li> <p>Отправьте архив, используя одну из следующих форм: для <b>девушек</b> - <a href="#">пока нет</a>, для <b>мальчиков</b> - <a href="https://goo.gl/forms/XjdcriZ4Um7CVqNl2">https://goo.gl/forms/XjdcriZ4Um7CVqNl2</a></p>                                                     </li>
                                                   
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="sect2">
                                            <h3 id="step-2-of-2"><a class="link" href="#step-2-of-2">Завершение</a></h3>
                                            <div class="paragraph">
                                                <p>Выполняйте работу наилучшим образом!</p>
                                            </div>
                                            <div class="paragraph">
                                                <p>Это был Набор Проблем 4.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
       
        </div>
    </div>

