---
layout: header
title: pset1
permalink: /weeks/pset1
---

<div class="toc2 toc-left">
                            <div id="header">
                                <div class="toc2" id="toc">
                                    <div id="toctitle">Список Контента</div>
                                    <ul class="sectlevel1">
                                        <li><a href="#tl-dr">Коротко</a></li>
                                        <li><a href="#help">Помощь</a></li>
                                        <li><a href="#getting-started">С чего начать</a>
                                            <ul class="sectlevel2">
                                                <li><a href="#logging-in">Вход в систему</a></li>
                                                <li><a href="#updating">Подготовка</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#what-to-do">Требования</a></li>
                                        <li><a href="#how-to-submit">Как отправить решение</a>
                                        </li>
                                        <li><a href="#step-2-of-2">Завершение</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="content">
                                <h1>Набор проблем 1: C</h1>
                                <div class="sect1">
                                    <h2 id="tl-dr"><a class="link" href="#tl-dr">Коротко</a></h2>
                                    <div class="sectionbody">
                                        <div class="olist arabic">
                                            <ol class="arabic" start="0">
                                                <li>
                                                    <p>Посетите лекцию 1 недели.</p>
                                                </li>
                                                <li>
                                                    <p>Зайдите на <a target="_blank" href="https://www.youtube.com/watch?v=agdXnmEadCM&index=5&list=PLawfWYMUziZqyUL5QDLVbe3j5BKWj42E5">YouTube</a> и просмотрите 3 и 4 видеозаписи (все эти записи есть в плейлисте).</p>
                                                </li>
                                                <li>
                                                    <p>Внесите первоначальные настройки в CS50 IDE (среда разработки), вам поможет <code>hello.c</code>.</p>
                                                </li>
                                                <li>
                                                    <p>Подсчитайте объем потраченной воды в <code>water.c</code>.</p>
                                                </li>
                                                <li>
                                                    <p>Постройте пирамиду для марио, в <code>mario.c</code>.</p>
                                                </li>
                                                
                                                <li>
                                                    <p>Отправьте ваш код...кот=).</p>
                                                </li>
                                                <li>
                                                    <p>Заполните форму.</p>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="sect1">
                                    <h2 id="help"><a class="link" href="#help">Помощь</a></h2>
                                    <div class="sectionbody">
                                        <div class="paragraph">
                                            <p>Если вам нужна помощь с Набором Проблем 1 недели:</p>
                                        </div>
                                        <div class="ulist">
                                            <ul>
                                                <li>
                                                    <p>Просмотрите видеозаписи с объяснениями Замайлы, которые есть в каждом задании.</p>
                                                </li>
                                                
                                                <li>
                                                    <p>Задавайте вопросы в группе "cs50 Болталка".</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sect1">
                                    <h2 id="getting-started"><a class="link" href="#getting-started">С чего начать</a></h2>
                                    <div class="sectionbody">
                                        <div class="paragraph">
                                            <p>CS50 IDE или "integrated development environment" - это среда разработки, которая позволяет программировать "в облаке," без установки каких-либо программ на вашей локальной машине (компьютере). Под капотом находится популярная операционная система, Ubuntu Linux (с пингвинчиком), которая помещается в "контейнер" при помощи программы с открытым исходным кодом Docker. Она позволяет нескольким пользователям (таким как вы!) делиться "ядром" операционной системы (его зародышем, так сказать) и файлами, при этом еще обладает и своими отдельными файлами. Просто невообразимо, CS50 IDE предоставляет вам ваше собственное "рабочее место" (т.е. память на удаленном компьютере), в котором вы можете сохранять свои файлы и папки (ака директории).</p>
                                        </div>
                                        <div class="sect2">
                                            <h3 id="logging-in"><a class="link" href="#logging-in">Вход в систему</a></h3>
                                            <div class="paragraph">
                                                <p>Зарегистрируйтесь на <a href="https://edx.org/">edX</a> и обязательно подтвердите свой аккаунт через письмо, которое вам вышлют на почту. Далее сюда <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">запись на курс CS50</a>, нажмите на зеленую кнопку "Enroll Now". 
                                                    </p> 
                                                    <p>
	                                                  Также вам необходимо завести учетную запись на Github'е, пройдите по данной ссылке <a href="https://github.com/join">https://github.com/join</a>. <br>Зайдите на сайт <a href="https://cs50.me" target="_blank">cs50.me</a>, используя всё ту же учетную запись GitHub'а и нажмите на зеленую кнопку <b>authorize submit50</b> или <b>принять приглашение</b> (Это действие производится только один раз).<br>Теперь вы можете пользоваться <strong>средой разработки CS50.</strong> 
                                                    </p>
                                                   
                                                    <p>Перейдите по ссылке <a href="https://cs50.io/">cs50.io</a>, выберите <em>edX</em> и зайдите в CS50 IDE. Вас, возможно, попросят (повторно) ввести email и пароль от учетной записи <em>edX</em>. Нажимаем на кнопку <b>Allow</b>. Далее выберите <b>Private</b> (Частную) рабочую среду (<b>Hosted workspace</b>), затем нажмите на шаблон <b>Harvard’s CS50</b>, а потом кликните по <b>Create workspace</b> (Создать рабочую среду). Видеоинструкция: <a href="https://www.youtube.com/watch?v=m8qNY2Qj2DU">YouTube</a></p>
                                            </div>
                                           

                                        </div>
                                        <div class="sect2">
                                            <h3 id="updating"><a class="link" href="#updating">Подготовка</a></h3>
                                            <div class="paragraph">
                                                <p>В нижней части CS50 IDE есть "terminal" или терминальное окно (светло-синее, по умолчанию), или интерфейс командной строки (command-line interface - CLI), который позволяет управлять папкой workspace, ее файлами и папками, компилировать код, запускать программы и даже устанавливать новые программы. В окне терминала вы увидите следующее</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code data-lang="text">~/workspace/ $</code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>Кликните по окошку терминала и напечатайте</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code data-lang="text">update50</code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>нажмите кнопку Enter. Это для того, чтобы ваше рабочее пространство загрузило все необходимые обновления. Процесс обновления может занять несколько минут. (Ни в коем случае не закрывайте окно CS50 IDE в вашем браузере, пока все не закончится!)</p>
                                            </div>
                                            <div class="paragraph">
                                                <p>Далее, выполните</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code>mkdir ~/workspace/nproblem1/</code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>чтобы создать папку <code>nproblem1</code> в вашей директории <code>workspace</code>. Не пропустите пробел между <code>mkdir</code> и <code>~/workspace/nproblem1</code> или какой-либо другой символ! Помните, что <code>~</code> представляет вашу основную папку, первую. <code>~/workspace</code> представляет папку под названием <code>workspace</code> и <code>~/workspace/nproblem1</code> представляет другую папку <code>nproblem1</code>, которая находится в <code>~/workspace</code>.</p>
                                            </div>
                                            <div class="paragraph">
                                                <p>Теперь выполните</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code>cd ~/workspace/nproblem1/</code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>чтобы перейти (т.е. открыть) в эту папку. В вашем терминале должно быть следующее.</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code>~/workspace/nproblem1/ $</code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>Если это не так, тогда вернитесь обратно и посмотрите, где вы допустили ошибку. Вы можете выполнить команду</p>
                                            </div>
                                            <div class="listingblock">
                                                <div class="content"> <pre class="pygments highlight"><code data-lang="bash"><span class="tok-nb">history</span></code></pre> </div>
                                            </div>
                                            <div class="paragraph">
                                                <p>в терминале, чтобы увидеть последние выполненные вами команды. Вы также можете использовать стрелки вашей клавиатуры вверх и вниз, чтобы пройтись по истории использованных команд.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sect1">
                                    <h2 id="what-to-do"><a class="link" href="#what-to-do">Требования</a></h2>
                                    <div class="sectionbody">
                                        <div class="olist arabic">
                                            <ol class="arabic">
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset1/hello/">Hello</a></p>
                                                </li>
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset1/water/">Water</a></p>
                                                </li>
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset1/mario/">Mario</a></p>
                                                </li>
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset1/greedy">Greedy</a></p>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="sect1">
                                    <h2 id="how-to-submit"><a class="link" href="#how-to-submit">Как отправить решение</a></h2>
                                    <div class="sectionbody">
                                        <div class="sect2">
                                            <div class="olist arabic">
                                                <ol class="arabic">
                                                    <li>
                                                        <p>В левом верхнем углу CS50 IDE, внутри "файлового окна" (не внутри терминального окна), нажмите на файл <code>hello.c</code> (находящийся в директории <strong>nproblem1</strong>) правой кнопкой мыши и выберите <strong>Download</strong>. Ваш браузер скачает <code>hello.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Тоже самое проделайте с <code>water.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Тоже самое проделайте с <code>mario.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Тоже самое проделайте с <code>greedy.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Заархивируйте все скачанные файлы в .zip или .rar файл. (для этого вам понадобится архиватор, например <strong>winrar</strong>)</p>
                                                    </li>
                                                    <li>
                                                        <p>Отправьте архив, используя одну из следующих форм: для <b>девушек</b> - <a href="https://goo.gl/forms/IkTYS8lVFUtBMZKb2">https://goo.gl/forms/IkTYS8lVFUtBMZKb2</a>, для <b>мальчиков</b> - <a href="https://goo.gl/forms/NjWnHeHJIptyUh4j2">https://goo.gl/forms/NjWnHeHJIptyUh4j2</a></p>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="sect2">
                                            <h3 id="step-2-of-2"><a class="link" href="#step-2-of-2">Завершение</a></h3>
                                            <div class="paragraph">
                                                <p>Не откладывайте на потом.</p>
                                            </div>
                                            <div class="paragraph">
                                                <p>Это был Набор Проблем 1.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

