---
layout: header
title: pset2
permalink: /weeks/pset2
---

 <div class="toc2 toc-left">
        <div id="header">
            <div class="toc2" id="toc">
                <div id="toctitle">Список Контента</div>
                <ul class="sectlevel1">
<li><a href="#tl-dr">Коротко</a></li>
<li><a href="#help">Помощь</a></li>
<li><a href="#reminders">Напоминание</a></li>
<li><a href="#getting-started">С чего начать</a></li>
<li><a href="#what-to-do">Требования</a></li>
<li><a href="#how-to-submit">Как отправить решение</a>

</li>

</ul>
            </div>
        </div>
        <div id="content">
            <h1>Набор Проблем 2: Crypto</h1>
<div class="sect1">
<h2 id="tl-dr"><a class="link" href="#tl-dr">Коротко</a></h2>
<div class="sectionbody">
<div class="olist arabic">
<ol class="arabic" start="0">
<li>
<p>Посетите лекцию 2 недели.</p>
</li>
<li>
<p>Зайдите на <a target="_blank" href="https://www.youtube.com/watch?v=agdXnmEadCM&index=5&list=PLawfWYMUziZqyUL5QDLVbe3j5BKWj42E5">YouTube</a> и просмотрите 5 и 6 видеозаписи (все эти записи есть в плейлисте).</p>
</li>
<li>
<p>Выведите инициалы из пользовательского имени с помощью <code>initials.c</code>.</p>
</li>
<li>
<p>Вот вам два приключения:</p>
<div class="openblock">
<div class="content">
<div class="ulist">
<ul>
<li>
<p>Реализуйте шифр Цезаря (Caesar&#8217;s cipher).</p>
</li>
<li>
<p>Реализуйте шифр Виженèра (Vigenère&#8217;s cipher).</p>
</li>

</ul>
</div>
</div>
</div>
</li>
<li>
<p>Отправьте ваш код.</p>
</li>
</ol>
</div>
</div>
</div>
<div class="sect1">
<h2 id="help"><a class="link" href="#help">Помощь</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Если вам нужна помощь с Набором Проблем 2 недели:</p>
</div>
<div class="ulist">
<ul>

<li>
<p>Просмотрите видеозаписи с объяснениями Замайлы, которые есть в каждом задании.</p>
</li>

<li>
<p>Задавайте вопросы (при этом оповещайте студентов о создании новой темы в разделе "Обсуждение", при помощи whatsapp группы "Курсы cs50") и ищите ответы здесь <a href="http://makecs50.ru/discuss">CS50 Обсуждение</a>.</p>
</li>
</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="reminders"><a class="link" href="#reminders">Напоминание</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Из лекции 2 недели:</p>
</div>
<div class="ulist">
<ul>
<li>
<p>Не забывайте про <code>debug50</code> - без него никуда.</p>
</li>
<li>
<p>Еще вам может помочь функция <code>eprintf</code>.</p>
</li>

</ul>
</div>
</div>
</div>
<div class="sect1">
<h2 id="getting-started"><a class="link" href="#getting-started">С чего начать</a></h2>
<div class="sectionbody">
<div class="paragraph">
<p>Ок, погнали!</p>
</div>
<div class="paragraph">
<p>Зайдите на сайт <a href="https://cs50.io/">cs50.io</a> и наберите команду</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>update50</code></pre>
</div>
</div>
<div class="paragraph">
<p>в окне терминала, чтобы ваше рабочее пространство подкачало все необходимые обновления. Если вы случайно закрыли терминальное окно (и не можете его найти!), проверьте стоит ли галочка рядом с графой <strong>Console</strong> в меню <strong>View</strong>, потом нажмите на круглый зеленый значок со знаком плюс (+) в нижней половине CS50 IDE (среды разработки) и выберите <strong>New Terminal</strong>.</p>
</div>
<div class="paragraph">
<p>Далее выполните</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>mkdir ~/workspace/nproblem2/</code></pre>
</div>
</div>
<div class="paragraph">
<p>в окне терминала, чтобы создать папку <code>nproblem2</code> в вашей директории <code>workspace</code>. Не пропустите пробел между <code>mkdir</code> и <code>~/workspace/nproblem2</code>, или какой-либо другой символ! Помните, что <code>~</code> представляет вашу основную папку - первую. <code>~/workspace</code> представляет папку под названием <code>workspace</code>, а <code>~/workspace/nproblem2</code> представляет другую папку - <code>nproblem2</code>, которая находится в <code>~/workspace</code>.</p>
</div>
<div class="paragraph">
<p>Теперь выполните</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>cd ~/workspace/nproblem2/</code></pre>
</div>
</div>
<div class="paragraph">
<p>чтобы перейти в эту папку, т.е. открыть ее. В вашем терминале должно быть следующее:</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code>~/workspace/nproblem2/ $</code></pre>
</div>
</div>
<div class="paragraph">
<p>Если это не так, тогда вернитесь обратно и посмотрите, где вы допустили ошибку. Вы можете выполнить команду</p>
</div>
<div class="listingblock">
<div class="content">
<pre class="pygments highlight"><code data-lang="bash"><span class="tok-nb">history</span></code></pre>
</div>
</div>
<div class="paragraph">
<p>в терминале, чтобы увидеть последние выполненные вами команды. Вы также можете использовать стрелки вашей клавиатуры вверх и вниз, чтобы пройтись по истории использованных команд.</p>
</div>
</div>
</div>
<div class="sect1">
<h2 id="what-to-do"><a class="link" href="#what-to-do">Требования</a></h2>
<div class="sectionbody">
                                        <div class="olist arabic">
                                            <ol class="arabic">
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset2/initials/">Initials</a></p>
                                                </li>
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset2/caesar/">Caesar</a></p>
                                                </li>
                                                <li>
                                                    <p>Реализовать <a href="{{ site.url }}/weeks/pset2/vigenere/">Vigenère</a></p>
                                                </li>
                                                
                                            </ol>
                                        </div>
                                    </div>
</div>
<div class="sect1">
                                    <h2 id="how-to-submit"><a class="link" href="#how-to-submit">Как отправить решение</a></h2>
                                    <div class="sectionbody">
                                        <div class="sect2">
                                            <div class="olist arabic">
                                                <ol class="arabic">
                                                    <li>
                                                        <p>В левом верхнем углу CS50 IDE, внутри "файлового окна" (не внутри терминального окна), нажмите на файл <code>initials.c</code> (находящийся в директории <strong>nproblem2</strong>) правой кнопкой мыши и выберите <strong>Download</strong>. Ваш браузер скачает <code>initials.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Тоже самое проделайте с <code>caesar.c</code>.</p>
                                                    </li>
                                                    <li>
                                                        <p>Тоже самое проделайте с <code>vigenère.c</code>.</p>
                                                    </li>
                                                    
                                                    <li>
                                                        <p>Заархивируйте все скачанные файлы в .zip или .rar файл. (для этого вам понадобится архиватор, например <strong>winrar</strong>)</p>
                                                    </li>
                                                    <li>
                                                        <p>Отправьте архив, используя одну из следующих форм: для <b>девушек</b> - <a href="#">пока нет</a>, для <b>мальчиков</b> - <a href="https://goo.gl/forms/KzPJwkwpqJbU9lhO2">https://goo.gl/forms/KzPJwkwpqJbU9lhO2</a></p>                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="sect2">
                                            <h3 id="step-2-of-2"><a class="link" href="#step-2-of-2">Завершение</a></h3>
                                            <div class="paragraph">
                                                <p>Выполняйте работу наилучшим образом!</p>
                                            </div>
                                            <div class="paragraph">
                                                <p>Это был Набор Проблем 2.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

        </div>
    </div>