---
layout: header
title: section2
permalink: /weeks/section2
---

<div class="row video_row">
                             
                               <div class="col-md-12">
                               
                               
                               
                                <h2 class="week_header week_shorts_header col-xs-12 video_header">Секция 2</h2>
                                
                                <iframe width="100%" height="550" src="https://www.youtube.com/embed/QhzugmRuwWg" frameborder="0" allowfullscreen></iframe>
                                <iframe width="100%" height="550" src="https://www.youtube.com/embed/8yXDl-pjmNw" frameborder="0" allowfullscreen></iframe>
                                <iframe width="100%" height="550" src="https://www.youtube.com/embed/-nyTxWx3MZc" frameborder="0" allowfullscreen></iframe>
                                </div>
                                
                            </div>