---
layout: header
title: videolecture1
permalink: /weeks/videolecture1/
---

<div class="row video_row">
                             
                               <div class="col-md-12">
                               
                               
                               
                                <h2 class="week_header week_shorts_header col-xs-12 video_header">Неделя 1 | Видеолекция</h2>
                                
                                <iframe width="100%" height="550" src="https://www.youtube.com/embed/yZRpbAxuYcs" frameborder="0" allowfullscreen></iframe>
                                
                                </div>
                                
                            </div>
