---
page: dumb
title: Weeks
permalink: /weeks/
---

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css" />
				<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />
				<link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet">
        <link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    

        <title>Лекции</title>
    </head>
    <body>
        <div class="se-pre-con"></div>

        <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{{ site.url }}/"><b>
                            CS50</b>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/">Главная</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/weeks">Лекции</a>
                    </li>
                    
                    <li> <a href="{{ site.url }}/about">О нас</a> </li>
                    <h5 id="harvard_extension">Гарвардская школа повышения квалификации</h5>
                    <li><a target="_blank" href="https://makecs50.github.io/web">Веб-программирование</a></li>
                    <li><a target="_blank" href="https://makecs50.github.io/mobile">Мобильная разработка</a></li>
                    <li><a target="_blank" href="/apply/">Записаться</a></li>   
           </ul>
                
                <div class="nav sidebar-nav1">
           
<!--            <a href="http://twitter.com/makecs50" target="_blank" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a> -->
           
<!--
<a href="http://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
<a href="http://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
-->
           
       </div>

  	
            
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
<div class="row">
   <div class="col-md-12">
    <h2 class="week_header col-xs-12">Неделя 10</h2>
    <ul class="week_stuff col-xs-12">
	    
	 
		    	
		        <li><a  href="{{ site.url }}/weeks/pset8/mashup/">Набор Проблем 8</a></li>
	          
        
    </ul>
    </div>
</div>                        

																
<div class="row">
   <div class="col-md-12">
    <h2 class="week_header col-xs-12">Неделя 9</h2>
    <ul class="week_stuff col-xs-12">
	    
	 
		    	<li><a href="{{ site.url }}/weeks/notes9/">Конспект лекции</a></li> 
		        <li><a  href="{{ site.url }}/weeks/pset7">Набор Проблем 7</a></li>
	          
        
    </ul>
    </div>
</div>

	                        
	                        
<div class="row">
   <div class="col-md-12">
    <h2 class="week_header col-xs-12">Неделя 8</h2>
    <ul class="week_stuff col-xs-12">
        	
	
		    	<li><a href="{{ site.url }}/weeks/notes8/">Конспект лекции</a></li> 
		        <li><a  href="{{ site.url }}/weeks/pset6">Набор Проблем 6</a></li>
		
		
        
       	                                
        
        
        
        
    </ul>
    </div>
</div>

	                        
	                        <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 7</h2>
                                <ul class="week_stuff col-xs-12">
	                                

                                    <li><a href="{{ site.url }}/weeks/notes7/">Конспект лекции</a></li>
                                    <li><a target="_blank" href="https://drive.google.com/open?id=0Bw0E6S7kppoNcXlmZi1yY0JvM1U">Презентация</a></li>
    
                                </ul>
                                </div>
                            </div>
	                        
                           
                           <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 6</h2>
                                <ul class="week_stuff col-xs-12">

                                    <li><a href="{{ site.url }}/weeks/notes6/">Конспект лекции</a></li>
                                    <li><a target="_blank" href="https://goo.gl/L5NZ0O">Презентация</a></li>
        
                                </ul>
                                </div>
                            </div>
                           
                           
                           <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 5</h2>
                                <ul class="week_stuff col-xs-12">


                                    <li><a href="{{ site.url }}/weeks/notes5/">Конспект лекции</a></li>
                                    <li><a target="_blank" href="https://goo.gl/Qu1sMQ">Презентация</a></li>
                                    <li class="unlocked_lesson"><a  href="{{ site.url }}/weeks/pset5/">Набор Проблем 5</a></li>
            
                                </ul>
                                </div>
                            </div>
                            
                            <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 4</h2>
                                <ul class="week_stuff col-xs-12">

                                    <li><a href="{{ site.url }}/weeks/notes4/">Конспект лекции</a></li>
	                                     
	                                     <li><a href="{{ site.url }}/weeks/videolecture4/">Видеолекция (ГГНТУ)</a></li>
	                                     
	                                     
                                    <li><a target="_blank" href="https://goo.gl/n4kbRP">Презентация</a></li>
                                    <li class="unlocked_lesson"><a  href="{{ site.url }}/weeks/pset4/">Набор Проблем 4</a></li>
		               
                                </ul>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 3</h2>
                                <ul class="week_stuff col-xs-12">
	                                
	                                
		    
                                    <li><a href="{{ site.url }}/weeks/notes3/">Конспект лекции</a></li>
	                                     
	                                <li><a href="{{ site.url }}/weeks/videolecture3/">Видеолекция (ГГНТУ)</a></li>
                                    <li><a target="_blank" href="https://drive.google.com/open?id=0Bw0E6S7kppoNRTdwVHBVWFY2ZDA">Презентация</a></li>
                                    <li class="unlocked_lesson"><a  href="{{ site.url }}/weeks/pset3/">Набор Проблем 3</a></li>
		                                   
                                </ul>
                                </div>
                            </div>
	                        

	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                      
	                                                    
                            <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 2</h2>
                                <ul class="week_stuff col-xs-12">
	                                
		  
		    						
                                    <li><a href="{{ site.url }}/weeks/notes2/">Конспект лекции</a></li>
	                                     
	                                     
	                                <li><a href="{{ site.url }}/weeks/videolecture2/">Видеолекция (ГГНТУ)</a></li>
									<li><a href="{{ site.url }}/weeks/section2/">Секция (ГГНТУ)</a></li>
	                                
                                    <li><a target="_blank" href="https://goo.gl/3Nhxpn">
	                                    Презентация</a></li>
                                    <li class="unlocked_lesson"><a  href="{{ site.url }}/weeks/pset2/">Набор Проблем 2</a></li>
		
                                </ul>
                                </div>
                            </div>
                            
                            <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 1</h2>
                                <ul class="week_stuff col-xs-12">
                                    <li><a href="{{ site.url }}/weeks/notes1/">Конспект лекции</a></li>
                                    <li><a href="{{ site.url }}/weeks/videolecture1/">Видеолекция (ГГНТУ)</a></li>
                                    <li><a target="_blank" href="https://goo.gl/5wvwds">Презентация</a></li>
                                    <li class="unlocked_lesson"><a  href="{{ site.url }}/weeks/pset1/">Набор Проблем 1</a></li>
                                </ul>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-12">
                                <h2 class="week_header col-xs-12">Неделя 0</h2>
                                <ul class="week_stuff col-xs-12">
                                    <li><a href="{{ site.url }}/weeks/notes0/">Материалы</a></li>
                                    <li><a href="{{ site.url }}/assets/binary.html" target="_blank">Бинарный код</a></li>
                                    <li><a target="_blank" href="https://goo.gl/wTcxln">Презентация</a></li>
                                    <li><a href="{{ site.url }}/weeks/pset0/">Набор Проблем 0</a></li>
                                </ul>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper --> 

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
				<script type="text/javascript" src="{{ site.url }}/assets/js/myScript.js"></script>
		<script src="https://use.fontawesome.com/a98ab50559.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter44263234 = new Ya.Metrika({
                    id:44263234,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/44263234" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </body>
</html>