{% extends "header.html" %}

{% block body %}

<body>
	<div class="container">
		<br>
		<h4>Авторизация:</h4>
		<br>
		<form action="" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder = "Пользователь" name="username" value="{{request.form.username}}">
			<input type="password" class="form-control" placeholder = "Пароль" name="password" value="{{request.form.password}}">
			<input class="btn btn-default form-control" type="submit" value="Войти">
		</form>
		
		<p>{{error.decode('utf-8')}}</p>
	</div>
</body>

{% endblock %}