{% extends "header.html" %}

{% block body %}


	
		<h4>Регистрация</h4>	
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form action="{{ url_for_security('register') }}" class="form-inline" method="POST" name="register_user_form">
			<dl>
				{{register_user_form.hidden_tag() }}
				{{render_field(register_user_form.email, class="form-control")}}
				{{render_field(register_user_form.password, class="form-control")}}
				{% if register_user_form.password_confirm %}
					{{ render_field(register_user_form.password_confirm, class="form-control") }}
				{% endif %}
			</dl>
			<p><input class="btn btn-primary" type="submit" value="Подтвердить"></p>
			
		</form>
		
		{% if error %}
			<p class="error"><strong>Ошибка: </strong>{{error.decode('utf-8')}}
		{% endif %}
	

{% endblock %}